.container {
    width: 80%;
    margin: 48px auto;
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
} */

.grid {
    column-count: 3;
    column-width: 25%;
    padding: 8px;
}

.image img{
    max-width: 400px;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-bottom: 8px;
}

@media (max-width: 800px) {
    .grid {
        column-count: 2;
        column-width: 37.5%;
    }
}